body { 
    background: #1a1a1a; 
    color: rgb(224, 224, 224); 
    font-family: 'Courier New', Courier, monospace; 
    display: flex; justify-content: center; align-items: center; height: 100vh; 
}

.synth-case { 
    background: #333; 
    padding: 20px; 
    border-radius: 10px; 
    border: 5px solid #1d1d1d; 
}

#steps { 
    display: flex; 
    gap: 5px; 
    margin: 20px 0; 
}

.step { 
    width: 20px; 
    height: 20px; 
    background: #444; 
    border-radius: 3px; 
}

.step.active { 
    background: #606060; 
    box-shadow: 0 0 10px #262626; 
}

button { 
    width: 100%; 
    padding: 10px; 
    cursor: pointer; 
    background: #797979; 
    border: none; color: white; font-weight: bold; 
}

.controls { 
    margin-top: 20px; 
    display: flex; 
    flex-direction: column; 
}